/* Start Global Rules */
:root {
  --main-color: #2196f3;
  --main-orange: #ff5722;
  --main-green: #23a96e;
}
a {
  text-decoration: none;
}
/* End Global Rules */

/* Start Books Folder */

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-content: flex-start;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px;
}
.content .info {
  padding: 15px;
  background-color: #f9f9f9;
  font-size: 20px;
  flex: 1;
  text-align: center;
  min-width: 293px;
  max-width: 100%;
}
.content .info img {
  max-width: 100%;
}
.content .info .title {
  color: #707070;
  margin: 20px 0;
}

.content .info .author {
  margin-bottom: 30px;
  display: block;
  font-weight: bold;
}

.content .info a {
  display: block;
  margin-top: 15px;
  color: var(--main-orange);
  border-top: 1px solid #d1d1d1;
  text-align: left;
  padding: 15px 0 0;
  font-size: 14px;
  font-weight: bold;
}

/* End Books Folder */
/* Start about */
.main-about .head {
	height: 110px;
}
.about {
	background-color: #fff;
	height: calc(100vh - (90px + 110px + 64px));
	margin-bottom: 20px;
	padding: 25px;
	direction: rtl;
}
.about p {
	font-size: 20px;
	margin: 10px 0;
}
.about a {
	width: 100%;
	display: block;
	color: var(--main-color);
	transition: color 0.3s;
	margin: 5px 0;
}
.about a:hover {
	color: var(--main-orange)
}
/*End about*/
